{% extends "base.html" %} {% block content %}
<h3 class="w3-center">Projects</h3>
<table id="commodities" class="w3-table-all w3-card w3-small">
    <thead>
        <tr>
            <th>id</th>
            <th>User</th>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {% for project in project_list %}
        <tr>
            <td> {{ project.id }} </td>
            <td> {{ project.user }}</td>
            <td> {{ project.name }}</td>
            <td> {{ project.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 